*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: skyblue;
}

#head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    color: white;
}

.container {
    width: 60%;
    margin: auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:  white;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input, select {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(0, 149, 255);
}

